body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3e3e3
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 23px;
  text-decoration: none;
  font-size: 17px;
}


.topnav p.toptitle {
  padding-left: 16px;
  font-size: 20px;
  font-family: sans-serif;
  color: white
}

.completeError p.recapErrorText {
    font-size: 8px
    color: red
}

.button {
  background-color: #adadad; /* Green */
  border: none;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.reButton {
  background-color: white;
  color: black;
  border: 2px solid #adadad;
  border-radius: 12px
}

.reButton:hover {
  background-color: #adadad;
  color: white;
}

.reButton:active {
  background-color: #bfbfbf;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
